*,:after,:before{
box-sizing:inherit
}
:focus{
outline:none
}
@font-face {
	font-family:quicksandregular;
	src:url('quicksand-regular-webfont.eot');
	src:url('quicksand-regular-webfont.eot?#iefix') format("embedded-opentype"),
	url('quicksand-regular-webfont.woff2') format("woff2"),
	url('quicksand-regular-webfont.woff') format("woff"),
	url('quicksand-regular-webfont.ttf') format("truetype"),
	url('quicksand-regular-webfont.svg#quicksandregular') format("svg")
}
body,html{
margin:0;
padding:0;
font-family:quicksandregular;
font-size:20px;
font-weight:700;
width:100%
}
body,html{
height:100%
}
.rbc-allday-cell{
display:none!important
}
.pageTitle{
padding:.5em 1em .5em 1.5em;
background:linear-gradient(90deg,rgba(0,0,0,.6),rgba(0,0,0,.3));
display:inline-block;
transform:translate(0);
animation-name:titre;
animation-duration:.5s;
animation-timing-function:ease-in-out
}
@keyframes titre{
0%{
transform:translateX(-40em)
}
to{
transform:translate(0)
}

}
.Layout_container{
display:flex;
flex-direction:column;
align-items:center;
height:100%;
position:relative;
background:top/cover scroll no-repeat url(./img.jpg);
color:#fff;
font-size:12px;
overflow:auto
}
.Layout_imageSvgMenu{
width:10px
}
.Layout_Header{
top:0;
height:7em;
width:100%;
position:absolute;
z-index:6;
animation-name:Layout_AppLogo;
animation-duration:.7s;
animation-timing-function:cubic-bezier(1,0,.51,1)
}
.Layout_HeaderLinkImg{
cursor:pointer;
background-image:url(./a&m.svg);
background-size:250px;
background-position:181px 171px;
position:absolute;
height:77px;
width:97px;
z-index:6
}
.Layout_HeaderListeOptionLogin,.Layout_HeaderRechercherInput,.Layout_HeaderRechercherSpan{
font-family:quicksandregular;
font-weight:700
}
.Layout_HeaderRechercherInput{
width:50%;
padding:20px;
border:0 solid transparent;
font-size:1rem;
color:#000;
transition:all .4s ease-in-out
}
.Layout_HeaderRechercher{
position:absolute;
margin:-2em 50% 0 28%
}
.Layout_HeaderRechercherSpan{
font-size:60px;
position:absolute;
cursor:pointer
}
.Layout_HeaderRechercherSpanP{
transform:scaleX(-1);
-moz-transform:scaleX(-1);
-webkit-transform:scaleX(-1);
-o-transform:scaleX(-1);
-ms-transform:scaleX(-1);
margin:0 0 -10px;
height:1em;
padding:0 8px 10px 12px;
color:#fff
}
.Layout_Headernavcontainer{
display:block;
position:relative;
width:100%;
height:100%;
margin:0
}
.Layout_Headercheckbox{
position:absolute;
display:block;
height:3.5em;
width:3.5em;
z-index:7;
opacity:0;
cursor:pointer
}
.Layout_Headerhamburgerlines{
height:37px;
width:46px;
position:absolute;
display:flex;
flex-direction:column;
justify-content:space-between;
z-index:6
}
.Layout_Headerline{
height:6px;
width:100%;
background:#fff
}
.Layout_Headerline1{
transform-origin:0 0;
transition:transform .4s ease-in-out
}
.Layout_HeaderHeaderline2{
transition:transform .2s ease-in-out
}
.Layout_Headerline3{
transform-origin:0 100%;
transition:all .4s ease-in-out
}
.Layout_Headermenuitems{
text-align:center;
background-color:#000;
transform:translateX(0) translateY(-150%);
transition:all .5s ease-in-out;
display:flex;
flex-direction:column;
z-index:5
}
.Layout_HeadermenuitemsMenuburger{
position:fixed;
display:flex;
width:100%;
height:100%;
top:36px;
padding-top:8em
}
.Layout_Headercheckbox:checked~.Layout_Headerhamburgerlines .Layout_Headerline1{
transform:rotate(45deg)
}
.Layout_Headercheckbox:checked~.Layout_Headerhamburgerlines .Layout_Headerline2{
transform:scaleY(0)
}
.Layout_Headercheckbox:checked~.Layout_Headerhamburgerlines .Layout_Headerline3{
transform:rotate(-45deg)
}
.Layout_Headermenu{
overflow:auto;
padding-bottom:5em
}
.Layout_HeaderMenuLi{
font-size:35px;
color:#fff;
text-decoration:none;
text-transform:uppercase;
list-style:none;
cursor:pointer;
padding:.7em;
margin:.5em
}
.Layout_HeaderLogoutdiv{
position:absolute;
font-family:quicksandregular;
font-weight:700;
font-size:40px;
cursor:pointer
}
.Layout_ContentDiv{
position:absolute;
top:8em;
width:100%
}
.Layout_FooterMain{
padding:2em 1em;
text-align:center;
font-size:17px
}
.Layout_FooterMainHr{
border:3px solid #fff
}
.Layout_HeaderProfile{
top:.5em;
position:absolute;
right:0
}
.Layout_HeadercheckboxProfile{
width:5em;
height:5em;
opacity:0;
position:absolute;
z-index:6;
cursor:pointer
}
.Layout_HeaderProfileSpan{
font-size:55px;
height:55px;
position:absolute;
margin-top:10px;
text-align:center;
line-height:55px
}
.Layout_HeadermenuitemsMenuProfile{
visibility:hidden;
transition:all .1s ease-in-out;
margin-top:-200px
}
.Layout_HeadercheckboxProfile:checked~.Layout_HeadermenuitemsMenuProfile{
background-color:#000;
visibility:visible;
transition:all .1s ease-in-out;
margin-top:6.5em;
right:calc(25% - 14px)
}
.Layout_HeadermenuulProfile{
padding:2em;
list-style:none
}
.Layout_HeadermenuliProfile{
padding:1em;
font-size:18px
}
.Layout_HeadermenuaProfile{
text-decoration:none;
color:#fff;
cursor:pointer
}
@media (max-width:900px){
.Layout_ContentDiv{
top:6em
}
.Layout_HeaderRechercher{
display:none;
visibility:hidden
}
.Layout_HeaderListeOptionLoginDiv{
display:flex;
flex-direction:column
}
.Layout_HeaderListeOptionLogin{
margin:.7em auto;
padding:.5em;
font-size:1rem;
border:0 solid #fff;
background-color:rgba(0,0,0,.4);
cursor:pointer;
color:#fff;
border-radius:60px
}
.Layout_HeaderLinkImg{
visibility:hidden
}
.Layout_Headercheckbox{
margin:16px 16% -18px 18.6%
}
.Layout_Headerhamburgerlines{
margin:22px 19%
}
.Layout_Headermenu{
padding-top:62px
}
.Layout_Headernavcontainer{
visibility:hidden
}
.Layout_LayoutfooterMenuMobile{
margin:0;
position:fixed;
top:calc(100% - 84px);
left:0
}
.Layout_LayoutfooterMenuMobileUl{
position:fixed;
padding:.5em 0;
width:100%;
height:5em;
bottom:0;
display:flex;
justify-content:center
}
.Layout_LayoutfooterMenuMobileItems{
cursor:pointer;
width:2.5em;
padding:0;
margin:auto
}
.Layout_LayoutFooterMenuLinkImg{
width:2.5em
}
.Layout_HeadermenuitemsMenuSearch{
position:absolute;
width:100%;
height:6em
}
.Layout_HeaderhamburgerlinesSearch{
margin:1em
}
.Layout_HeadercheckboxSearch{
margin:0;
height:4em;
width:4em;
top:1em;
left:1em
}
.Layout_HeaderRechercherInput{
margin-top:.7em;
margin-left:3.5em;
padding:.6em
}
.Layout_HeaderProfile{
visibility:hidden;
display:none
}
.Layout_HeaderStrass{
position:absolute;
z-index:6;
right:1em;
background-color:rgba(0,0,0,.4);
border-radius:51%;
width:3.9em;
height:3.9em;
top:1em
}
.Layout_HeadermenuitemsMenuStrass{
transform:translateY(400px);
transition:all .4s ease-in-out;
background-color:#000;
position:fixed;
bottom:0;
left:0;
right:0;
height:15em;
width:100%
}
.Layout_HeadercheckboxStrass{
position:absolute;
width:5em;
height:5em;
margin-top:-6px;
opacity:0;
z-index:6;
left:-9px
}
.Layout_HeadercheckboxStrass:checked~.Layout_HeadermenuitemsMenuStrass{
transform:translateY(0);
box-shadow:-100px -100px 500px 110px #000
}
.Layout_HeadercheckboxStrass:checked~.Layout_HeaderSpanStrass{
rotate:-90deg
}
.Layout_HeaderSpanStrass{
transition:all .4s ease-in-out;
font-size:1rem;
position:absolute;
margin:8px 0 0 13px
}
.Layout_HeadermenuaStrass{
text-decoration:none;
color:#fff;
font-size:20px
}
.Layout_Headerline2Strass{
margin-top:calc(5em / 3 + 4px)
}
.Layout_Headerline3Strass{
margin-top:calc(2 * 5em / 3 + 8px)
}
.Layout_Headerline1Strass,.Layout_Headerline2Strass,.Layout_Headerline3Strass{
border:4px solid #fff;
width:50%;
position:absolute
}
.Layout_HeadermenuulStrass{
padding:0;
list-style:none
}
.Layout_HeadermenuliStrass{
padding:1.3em;
text-align:center
}
.Layout_LayoutfooterMenuMobileUl{
background-color:hsla(0,0%,100%,.5);
-webkit-backdrop-filter:blur(12px);
backdrop-filter:blur(12px)
}
.Layout_HeaderRechercherSpanP{
background-color:rgba(0,0,0,.3);
border:4px solid transparent;
border-radius:60px;
font-size:1.5rem
}
.Layout_Headercheckbox:checked~.Layout_Headermenuitems{
transform:translateX(0) translateY(0);
box-shadow:0 90vh 500px 50px #000
}
}
@media (min-width:900px){
.Layout_HeaderRechercher{
width:40%;
margin:1em auto 0 28%
}
.Layout_HeaderListeOptionLoginDiv{
margin:1em 60%
}
.Layout_HeaderLinkImg{
margin-left:65px;
margin-top:.3em
}
.Layout_HeaderRechercherMobile,.Layout_LayoutfooterMenuMobile{
visibility:hidden;
display:none
}
.Layout_HeaderListeOptionLogin{
padding:1em
}
.Layout_HeaderStrass{
visibility:hidden;
display:none
}
.Layout_Header,.Layout_LayoutfooterMenuMobileUl{
background-color:rgba(0,0,0,.2);
-webkit-backdrop-filter:blur(12px);
backdrop-filter:blur(12px)
}
.Layout_HeaderRechercherSpanP{
background-color:transparent;
border:4px solid #fff
}
.Layout_HeaderListeOptionLogin{
border:0 solid #fff;
background-color:#fff;
color:#000;
font-size:20px;
cursor:pointer
}
.Layout_Headercheckbox:checked~.Layout_Headermenuitems{
transform:translateX(0) translateY(-36px)
}
.Layout_Headercheckbox{
margin:16px 16% -18px 18.6%
}
.Layout_Headerhamburgerlines{
margin:22px 19%
}
.Layout_HeadercheckboxProfile{
left:calc(50% - 4px)
}
.Layout_HeadercheckboxProfile:checked~.Layout_HeaderProfileSpan{
rotate:-90deg
}
.Layout_HeaderProfileSpan{
transition:all .4s ease-in-out;
right:calc(25% - 14px)
}

}
@keyframes Layout_AppLogo{
0%{
opacity:0
}
to{
opacity:1
}

}
.Login_AppLogo{
position:relative;
z-index:0;
opacity:1;
animation-name:Login_AppLogo;
animation-duration:1s;
animation-timing-function:cubic-bezier(1,0,.51,1)
}
.Login_loginWrapper{
display:flex;
flex-direction:column;
align-items:center;
height:100%;
width:100%;
background:top/cover no-repeat url(./img.jpg);
color:#fff;
overflow-y:auto;
overflow-x:hidden
}
.Login_AppInscrip{
margin-top:-20px;
opacity:1;
animation-name:Login_AppLogo;
animation-duration:1s;
animation-timing-function:cubic-bezier(1,0,.51,1);
background:rgba(0,0,0,.2);
z-index:1
}
.Login_AppInscripdivinput{
display:flex;
flex-direction:column
}
label.Login_AppInscriplabel{
order:-1;
transition:all .3s ease-in-out;
transform:translateY(42px) translateX(10px);
z-index:-1
}
input.Login_AppInscripinput{
background:transparent;
border:0;
border-bottom:3px solid hsla(0,0%,100%,.2);
border-left:3px solid hsla(0,0%,100%,.2);
padding:.5em;
color:#fff;
font-family:quicksandregular;
font-size:20px;
font-weight:700;
margin-top:10px;
margin-bottom:10px
}
input.Login_AppInscripinput:focus{
border-bottom:3px solid #fff;
border-left:3px solid #fff;
transition:all .2s ease-in-out
}
input.Login_AppInscripinput:focus+label.Login_AppInscriplabel,input.Login_AppInscripinput:valid+label.Login_AppInscriplabel{
transform:translateY(5px)
}
.Login_AppInscripdivbutton{
display:flex;
flex-direction:column
}
.Login_AppInscripbutton{
background-color:#fff;
border:1px solid #fff;
padding:1em 2em;
margin-top:20px;
cursor:pointer;
font-family:quicksandregular;
font-size:20px;
font-weight:700;
color:#000;
transition:all .1s ease-in-out
}
.Login_AppInscrippwdforget{
margin-top:20px;
color:#fff;
text-decoration:underline
}
.Login_AppInscripdivlinklink{
color:#fff;
text-decoration:none;
margin-top:10px;
padding:1em;
background-color:transparent;
cursor:pointer;
border:1px solid #fff;
transition:all .1s ease-in-out
}
.Login_AppInscripbutton:active,.Login_AppInscripdivlinklink:active{
border:3px solid #000;
transition:all .1s ease-in-out
}
@media (max-width:600px){
.Login_AppLogo{
display:block;
margin:-8% 50% -15%;
width:250px
}
.Login_AppInscrip{
padding:2em 0 3em;
width:100%;
margin-top:25px
}
.Login_AppInscrippwdforget,input.Login_AppInscripinput,label.Login_AppInscriplabel{
margin-left:20%;
width:55%
}
.Login_AppInscripbutton{
width:43%;
margin-left:20%
}
.Login_AppInscripErreur{
width:80%;
margin-left:5%
}

}
@media (min-width:600px) and (max-width:1200px){
.Login_AppLogo{
display:block;
margin:-60px 49% -100px 50%;
width:400px
}
.Login_AppInscrip{
padding:1em 2em 3em 2.5em;
width:300px
}
input.Login_AppInscripinput{
width:90%
}
.cartedesbandes{
	margin: -4em 0em 2em 0em;
	text-transform: uppercase;
	font-size:10px
}
}
@media (min-width:1200px){
.Login_AppLogo{
display:block;
margin:-110px 49% -150px 50%;
width:500px
}
.Login_AppInscrip{
padding:1em 2em 3em 2.5em;
width:300px
}
input.Login_AppInscripinput{
width:90%
}
.cartedesbandes{
	margin: -4em 0em 2em 0em;
	text-transform: uppercase;
	font-size:10px
}
}
@keyframes Login_AppLogo{
0%{
opacity:0
}
to{
opacity:1
}

}
